{% extends "layout.njk" %}
{% import "parts/header-cover.njk" as cover %}
{% import "parts/nav.njk" as nav %}

{% block header %}
    <title>User profile</title>
{% endblock %}
{% block content %}
    {# {% include "parts/nav.njk" %} #}
    {% call nav.render( session )%}
    {% endcall %}

    <div class="user-profile">
        <div class="header user-profile">
            <div class="background-img"></div>
            <div class="user-profile-right">
                <div class="user-profile-image">
                    <img src="{{user.profileImage}}" alt="">
                    {# <img src="https://images.unsplash.com/photo-1557431177-36141475c676?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt=""> #}
                </div>

                <div class="user-info user-profile">
                    <h1>{{user.name}}</h1>
                    <div class="social-midias">
                        <div class="social-icons">
                            <a class="round-icons" href="{{user.email}}">
                                <i class="fa fa-envelope" style="font-size:20px;color:#333;" aria-hidden="true"></i>
                            </a>
                            <a class="round-icons" href="https://www.instagram.com/{{user.instagram}}">
                                <i class="fa fa-instagram" style="font-size:20px;color:#333;" aria-hidden="true"></i>
                            </a>
                            <a class="round-icons" href="https://twitter.com/{{user.twitter}}">
                                <i class="fa fa-twitter" style="font-size:20px;color:#333;" aria-hidden="true"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="user-info user-about">
                <p>{{user.about}}</p>
            </div>
        </div>

        <div class="buttons-recipes-container">
            {% if session.userId == user.id %}
                <div class="buttons user-profile">
                    <input type="hidden" name="userId" value="session.userId">
                    <a href="/recipes/recipe-form" class="add add-recipe">Add new recipe</a>
                    <a class="edit-user-btn round-btn" href="/users/settings"><img src="/assets/icons-recipe-show/icon.svg" alt=""></a>
                </div>
            {% endif %}

            <div class="recipes user-profile">

                {% for recipe in user.recipes %}

                    <a href="/recipes/recipe/{{recipe.id}}">
                        <div class="recipe-card" style="background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ), url('{{recipe.img}}'); background-repeat: no-repeat; background-size: cover; background-position: center center">
                            <div class="recipe-info">
                                <h2 class="recipe-title">{{recipe.title}}</h2>
                                <p>por
                                    {{recipe.user.name}}</p>
                            </div>
                        </div>
                    </a>

                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}