{% extends "layout.njk" %}
{% import "parts/header-cover.njk" as cover %}

{% block header %}
    <title>User profile</title>
{% endblock %}
{% block content %}
    {% include "parts/nav.njk" %}

    <div class="user-profile"></div>

{% endblock %}