{% extends "layout.njk" %}
{% import "../parts/header-cover.njk" as cover %}
{% import "../parts/form-card.njk" as form %}

{% block header %}
    <title>About</title>
{% endblock %}

{# {%include "parts/header.njk"%} #}

{% block content %}
    {% call cover.render('SETTINGS','', 'about', '', '../assets/about2.png', session )%}
    {% endcall %}

    {% call form.render("CHEF'S FORM", "chef-form register chef") %}
    <form action="/users/settings?_method=PUT" enctype="multipart/form-data" method="POST">
        <div class="row-1">
            <label class="label-form" for="name">
                <img src="../assets/chefs-icons/Group-1.png" alt="chef">
                <h2>Chef's Name</h2>
            </label>
            <input name="name" value="{{user.name}}" placeholder="Juliane Hale" type="text">
        </div>

        <div class="row-2">
            <div class="social-media email">
                <label class="label-form" for="email">
                    <img src="../assets/chefs-icons/Vector.png" alt="chef">
                    <h2>E-mail</h2>
                </label>
                <input name="email" value="{{user.email}}" placeholder="Juliane Hale" type="text">
            </div>
            <div class="social-media instagram">
                <label class="label-form" for="instagram">
                    {# <img src="../assets/chefs-icons/Group-1.png" alt="chef"> #}
                    <i class="fa fa-instagram" style="font-size:24px;color:#FF370A;opacity: 0.5; padding-left: 15px" aria-hidden="true"></i>
                    <h2>Instagram</h2>
                </label>
                <input name="instagram" value="{{user.instagram}}" placeholder="@juliahale" type="text">
            </div>
            <div class="social-media twitter">
                <label class="label-form" for="twitter">
                    {# <img src="../assets/chefs-icons/Group-1.png" alt="chef"> #}
                    <i class="fa fa-twitter" style="font-size:24px;color:#FF370A;opacity: 0.5; padding-left: 15px" aria-hidden="true"></i>
                    <h2>Twitter</h2>
                </label>
                <input name="twitter" value="{{user.twitter}}" placeholder="@juliahale" type="text">
            </div>
        </div>
        <div class="row-3">
            <div class="about">
                <label class="label-form" for="about">
                    <img src="../assets/chefs-icons/Group.png" alt="chef">
                    {# <i class="fa fa-twitter" style="font-size:24px;color:#FF370A;opacity: 0.5; padding-left: 15px" aria-hidden="true"></i> #}
                    <h2>About</h2>
                </label>
                <textarea maxlength="267" name="about" id="about" cols="30" rows="10" placeholder=" When I was a little kid, I used to help my mother in the kitchen. She would always make my favourite dishes. Watching her cook since I was a kid, made me want to try out. So here I am, after more than a decade, writing about what inspires me to cook and why I love cooking so much">{{user.about}}</textarea>
            </div>

            <div class="upload">
                <label class="label-form title" for="upload">
                    <i class="fa fa-image" style="font-size:24px;color:#FF370A;opacity: 0.5; padding-left: 15px" aria-hidden="true"></i>
                    <h2>Upload Profile Photo</h2>
                </label>
                <div class="upload-img profile-img" style="background-image: url('{{user.profileImage}}')" id="profile-image-div">
                    <label class="label-form" for="upload">
                        <img src="../assets/recipe-icons-form/download.png" alt="chef">
                    </label>
                    <input class="input-files" id="profile_image" name="profile_image" type="file" accept="image/*" onchange="photoUpload.handleUploadProfile(event)">
                    {# <input id="profile-image" name="profile_image" type="file" accept="image/*"> #}
                </div>
            </div>
        </div>
        <div class="row-1">
            <div class="social-media email">
                <label class="label-form" for="password">
                    <img src="../assets/chefs-icons/Vector.png" alt="chef">
                    <h2>Password</h2>
                </label>
                <input name="password" placeholder="Choose a password" type="password">
            </div>
            {# <input type="file" name="img" accept="image/*"> #}
        </div>
        <div class="form-btn">
            <input type="hidden" name="id" value="{{user.id}}">
            {# <button type="submit" class="post-btn" onclick="Validate.allFields(event)">Salvar</button> #}
            <button type="submit" class="post-btn">Salvar</button>
            <a class="cancel-btn" href="/">Cancel</a>
        </div>
    </form>
    {% endcall %}

    <form id="form-delete" action="/users/settings?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="{{user.id}}">
        <button class="button delete" type="submit">Deletar conta</button>
    </form>

{% endblock %}

{% block script %}
    {# <script src="/js/script.js"></script> #}
    <script src="/js/img-upload.js"></script>
{% endblock %}