{% extends "layout.njk" %}
{% import "parts/header-cover.njk" as cover %}

{% block header %}
    <title>PRODUCTS INDEX</title>
{% endblock %}

{% block content %}
    {% call cover.render('HOW TO ACQUIRE','Where to find The Art of Dr. Seuss', 'products','', '/assets/products-cover.jpg', session )%}
    {% endcall %}

    <h1 class="store">Store</h1>

    <div class="products-store">

        {% for product in products %}
            <div class="product-container">
                <a href="/products/{{product.id}}" class="product">
                    <img src="{{product.img}}" alt="">
                    {% if product.discount %}
                        <span class="sale-target">{{product.discount}}%</span>
                    {% endif %}
                    <div class="product-info">
                        <h2>{{product.title}}</h2>
                        <p>{{product.description}}</p>
                        <div>
                            {% if product.sale != 1 %}
                                <span class="black discount">
                                    {{product.formattedPrice}}
                                </span>
                                <span class="red">{{product.sale_price}}</span>

                                {%else%}
                                <span class="black">
                                    {{product.formattedPrice}}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </a>
                <a href="/admin/form-edit/{{product.id}}" class="button">Editar</a>
            </div>

        {% endfor %}

    </div>

    {# <nav class="is-rounded pagination" data-page="{{pagination.page}}" data-total="{{pagination.total}}" role="navigation" aria-label="pagination"></nav> #}

{% endblock %}

{% block script %}
    <script src="/js/script.js"></script>
    {# <script src="/js/pagination.js"></script> #}
{% endblock %}