{% extends "layout.njk" %}
{% import "parts/header-cover.njk" as cover %}

{% block header %}
    <title>PRODUCTS INDEX</title>
{% endblock %}

{% block content %}
    {% call cover.render('HOW TO ACQUIRE','Where to find The Art of Dr. Seuss', 'products','', '/assets/products-cover.jpg', session )%}
    {% endcall %}

    <h1 class="store">Store</h1>

    <div class="products-store">

        {% for product in products %}
            <a href="#" class="product-container">
                <img src="{{product.img}}" style="object-fit: cover" alt="">
                <div class="product-info">
                    <h2>{{product.title}}</h2>
                    <p>{{product.description}}</p>
                    <span>{{product.formattedPrice}}</span>
                </div>
            </a>

        {% endfor %}

    </div>

    {# <nav class="is-rounded pagination" data-page="{{pagination.page}}" data-total="{{pagination.total}}" role="navigation" aria-label="pagination"></nav> #}

{% endblock %}

{% block script %}
    <script src="/js/script.js"></script>
    {# <script src="/js/pagination.js"></script> #}
{% endblock %}