{% extends "layout.njk" %}
{% import "parts/header-cover.njk" as cover %}

{% block header %}
    <title>PRODUCTS INDEX</title>
{% endblock %}

{% block content %}
    {% call cover.render('HOW TO ACQUIRE','Where to find The Art of Dr. Seuss', 'products','', '/assets/products-cover.jpg', session )%}
    {% endcall %}

    <h1 class="store">Store</h1>

    <div class="products-store">

        <a href="#" class="product-container">
            <img src="/assets/products/grinch_60_1.jpg" alt="">
            <div class="product-info">
                <h2>THE GRINCH 60TH ANNIVERSARY</h2>
                <p>Image and Paper Size: 29" x 26"</p>
                <span>1,695 USD - Unframed</span>
            </div>
        </a>

        <a href="#" class="product-container">
            <img src="/assets/products/grinch_60_1.jpg" alt="">
            <div class="product-info">
                <h2>THE GRINCH 60TH ANNIVERSARY</h2>
                <p>Image and Paper Size: 29" x 26"</p>
                <span>1,695 USD - Unframed</span>
            </div>
        </a>

        <a href="#" class="product-container">
            <img src="/assets/products/grinch_60_1.jpg" alt="">
            <div class="product-info">
                <h2>THE GRINCH 60TH ANNIVERSARY</h2>
                <p>Image and Paper Size: 29" x 26"</p>
                <span>1,695 USD - Unframed</span>
            </div>
        </a>

        <a href="#" class="product-container">
            <img src="/assets/products/grinch_60_1.jpg" alt="">
            <div class="product-info">
                <h2>THE GRINCH 60TH ANNIVERSARY</h2>
                <p>Image and Paper Size: 29" x 26"</p>
                <span>1,695 USD - Unframed</span>
            </div>
        </a>

        <a href="#" class="product-container">
            <img src="/assets/products/grinch_60_1.jpg" alt="">
            <div class="product-info">
                <h2>THE GRINCH 60TH ANNIVERSARY</h2>
                <p>Image and Paper Size: 29" x 26"</p>
                <span>1,695 USD - Unframed</span>
            </div>
        </a>

    </div>

    {# <nav class="is-rounded pagination" data-page="{{pagination.page}}" data-total="{{pagination.total}}" role="navigation" aria-label="pagination"></nav> #}

{% endblock %}

{% block script %}
    <script src="/js/script.js"></script>
    {# <script src="/js/pagination.js"></script> #}
{% endblock %}