{% extends "layout.njk" %}
{% import "parts/header-cover.njk" as cover %}
{% import "parts/nav.njk" as nav %}

{% block header %}
    <title>Product Page</title>
{% endblock %}
{% block content %}
    {% call nav.render( session )%}
    {% endcall %}

    <section class="card product-single">
        <div class="card-header">
            {# <h3>Produto</h3> #}
        </div>
        <div class="card-content">
            <div class="highlight">
                <div class="gallery">
                    {% if not product.files[0] %}
                        {# <img src="/assets/products/grinch_60_1.jpg"/> #}
                        <img src="" alt="no image" onclick="Lightbox.open()"/>
                    {% else %}
                        <img src="{{product.img}}" alt="{{ files[0].name }}" onclick="Lightbox.open()"/>
                    {% endif %}

                    <div class="lightbox-target">
                        <img src="{{product.img}}" alt="{{ files[0].name }}">
                        <a href="#" class="lightbox-close" onclick="Lightbox.close()">
                            <i class="material-icons">close</i>
                        </a>
                    </div>

                </div>
                <div class="gallery-preview">
                    {% for image in product.files %}
                        <img src="{{image.src}}" alt="{{image.name}}" {% if loop.index0 == 0 %} class="active" {% endif %} onclick="ImageGallery.setImage(event)"/>
                    {% endfor %}
                </div>

            </div>

            <div class="product-info">
                <h1>{{product.title}}</h1>
                {% if product.sale != 1 %}
                    <span class="sale-tag">Sale
                        {{ product.discount }}%</span>
                {% endif %}
                <div class="purchase-info">
                    International Purchases: Prices are shown in US Dollars only and do not reflect local exchange rates. Local taxes, import duties or shipping & handling are not included. Please contact a gallery for local pricing.
                </div>
                <div class="description">
                    {{product.description}}
                </div>
                <div class="product-description">
                    {% for info in product.infos %}
                        <p>{{info}}</p>
                    {% endfor %}

                </div>

                <div class="price-buy">
                    {% if product.sale != 1 %}
                        <div class="price">
                            <span class="strike">{{product.formattedPrice}}</span>
                            {{product.sale_price}}
                            {# USD #}
                        </div>

                        {%else%}
                        <div class="price">
                            {{product.formattedPrice}}
                            {# USD #}
                        </div>
                    {% endif %}

                    <div class="buy">
                        <form action="/cart/{{product.id}}/add-one" method="POST">
                            <input type="hidden" name="id" value="{{product.id}}">
                            <button type="submit" class="button">
                                <img src="../assets/products/cart-oven.svg" alt="chef">
                                <h2>Adicionar ao carrinho</h2>
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}
    {# <script src="/js/script.js"></script> #}
    <script src="/js/image-gallery.js"></script>
{% endblock %}