{% extends "layout.njk" %}
{% import "parts/header-cover.njk" as cover %}

{% block header %}
    <title>Product Page</title>
{% endblock %}
{% block content %}
    {% include "parts/nav.njk" %}

    <section class="card product-single">
        <div class="card-header">
            {# <h3>Produto</h3> #}
        </div>
        <div class="card-content">
            <div class="highlight">
                <div class="gallery">
                    {% if not files[0] %}
                        <img src="/assets/products/grinch_60_1.jpg"/>
                    {% else %}
                        <img src="{{ files[0].src }}" alt="{{ files[0].name }}" onclick="Lightbox.open()"/>
                    {% endif %}

                    <div class="lightbox-target">
                        <img src="{{ files[0].src }}" alt="{{ files[0].name }}">
                        <a href="#" class="lightbox-close" onclick="Lightbox.close()">
                            <i class="material-icons">close</i>
                        </a>
                    </div>

                </div>
                <div class="gallery-preview">
                    {% for image in files %}
                        <img src="/assets/products/grinch_60_1.jpg" alt="{{image.name}}" {% if loop.index0 == 0 %} class="active" {% endif %} onclick="ImageGallery.setImage(event)"/>
                    {% endfor %}
                </div>

            </div>

            <div class="product-info">
                <h1>HOW THE GRINCH STOLE CHRISTMAS! - BOOK COVER</h1>
                <div class="purchase-info">
                    International Purchases: Prices are shown in US Dollars only and do not reflect local exchange rates. Local taxes, import duties or shipping & handling are not included. Please contact a gallery for local pricing.
                </div>
                <div class="description">
                    Image Size: 14” x 11” Paper Size: 17.5” x 14”
                </div>
                <div class="product-description">
                    <p>Limited Edition of 2500 Arabic Numbers 99 Patrons’ Collection 155 Collaborators’ Proofs</p>
                    <p>Adapted posthumously from the illustration for the 1957 book, How The Grinch Stole Christmas!</p>
                    <p>Dr. Seuss came up with the idea for The Grinch the day after Christmas when he looked in the mirror and saw a rather Grinch-ish look on his face. “Something had gone awfully wrong with Christmas or maybe with me,” he said. Weary of the over-commercialization of Christmas and sensing that the meaning of the holiday was being lost in the wrappings and ribbons, boxes and bows, Ted Geisel sat down and wrote How The Grinch Stole Christmas! when he was 53 years old.</p>

                </div>

                <div class="price-buy">
                    <div class="price">
                        395.00 USD
                    </div>

                    <div class="buy">
                        <form action="/cart/{{product.id}}/add-one" method="POST">
                            <input type="hidden" name="id" value="{{product.id}}">
                            <button type="submit" class="button">
                                <img src="../assets/products/cart-oven.svg" alt="chef">
                                <h2>Adicionar ao carrinho</h2>
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}
    {# <script src="/js/script.js"></script> #}
    <script src="/js/image-gallery.js"></script>
{% endblock %}