{% extends "layout.njk" %}
{% import "../parts/header-cover.njk" as cover %}
{% import "../parts/form-card.njk" as form %}

{% block header %}
    <title>Form recipes</title>
{% endblock %}

{# {%include "parts/header.njk"%} #}

{% block content %}
    {% call cover.render('NEW RECIPE FORM','', 'recipe form', '', '../assets/about2.png', session )%}
    {% endcall %}

    <form action="/recipes/recipe-form" enctype="multipart/form-data" method="POST">
        {% include "recipes/fields.njk" %}
        <div class="form-btn">
            <button type="submit" class="post-btn" onclick="Validate.allFields(event)">Salvar</button>
            <a class="cancel-btn" href="/">Cancel</a>
        </div>
    </form>

{% endblock %}

{% block script %}
    <script src="/js/script.js"></script>
    <script src="/js/img-upload.js"></script>
{% endblock %}