{% extends 'layout.njk' %}
{% import "parts/card.njk" as cards %}

{% block content %}

    {% call cards.render('', 'order container')%}
    <div class="error-lottie"></div>
    <div class="error-info">
        <h2>Desculpe!</h2>
        <p>
            Não conseguimos processar seu pedido...
        </p>
        <a class="error" href="/products/search" onclick="history.back()">Tente novamente</a>
    </div>
    {% endcall %}

{% endblock content %}

{% block script %}

    <script src="/js/deleteAccount.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/lottie.min.js"></script>

    <script>

        const element = document.querySelector('.error-lottie')

        lottie.loadAnimation({
            container: element, // the dom element that will contain the animation
            renderer: 'svg',
            loop: false,
            autoplay: true,
            path: '/animation/10448-payment-failed-error.json' // the path to the animation json
        });
    </script>

{% endblock %}