{% extends 'layout.njk' %}
{% import "parts/card.njk" as cards %}

{% extends "../layout.njk" %}
{% import "../parts/header-cover.njk" as cover %}
{% import "../parts/form-card.njk" as form %}

{% block header %}
    <title>Users Index</title>
{% endblock %}
{% block content %}
    {% call cover.render('It’s not about what it is, it’s about what it can become.','', 'about', '', '/assets/specialcollections.jpg', session )%}
    {% endcall %}

    {% call form.render("CART", "cart chef register_form") %}

    <div class="error-info">
        <h1>Oh No!</h1>
        <div class="error-lottie"></div>
        <p>
            Something went wrong with your order.
        </p>

        <a class="error" onclick="history.back()">
            {# <i class="material-icons cart-icons">arrow_back</i> #}
            <p>Please try again!</p>
        </a>

    </a>
</div>
{% endcall %}

{% endblock content %}

{% block script %}

<script src="/js/deleteAccount.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/lottie.min.js"></script>

<script>

    const element = document.querySelector('.error-lottie')

    lottie.loadAnimation({
        container: element, // the dom element that will contain the animation
        renderer: 'svg',
        loop: false,
        autoplay: true,
        path: '/assets/lottie/27709-onion-with-smell.json' // the path to the animation json
    });
</script>

{% endblock %}