{% extends 'layout.njk' %}
{% import "parts/card.njk" as cards %}

{% extends "../layout.njk" %}
{% import "../parts/header-cover.njk" as cover %}
{% import "../parts/form-card.njk" as form %}

{% block header %}
    <title>Users Index</title>
{% endblock %}
{% block content %}
    {% call cover.render('It’s not about what it is, it’s about what it can become.','', 'about', '', '/assets/specialcollections.jpg', session )%}
    {% endcall %}
    {% call form.render("CART", "cart chef register_form") %}

    <h1>Orders</h1>

    <div class="order-container">

        <div class="row-1">
            <div class="items">
                {# {% for item in cart.items %} #}
                <div class="item">
                    <a class="product-info-order" href="/products/{{item.product.id}}">
                        <img src="/images/1594921687287-dr-seuss-cat-in-the-hat-oval-ceramic-mug.jpg" alt="product img">
                        <div class="product-order-name">
                            <p class="title">Dr. Seuss Cat in the Hat Oval Ceramic Mug</p>
                            <p class="unit-price">Unit: $29,00</p>
                            <p class="order-date">Data: 10/09/2020</p>
                        </div>
                    </a>

                    <div class="order-qt-price">
                        <div class="quantity-container">

                            <span class="quantity">
                                <p>Qtd. 1</p>
                            </span>
                            <span class="quantity">
                                <p>$29,00</p>
                            </span>

                        </div>
                    </div>

                    <div class="status" style="background-color: tomato;">
                        <p>Open</p>
                    </div>

                    <div class="actions dropdown-container">
                        Ações
                        <i class="material-icons">arrow_drop_down</i>
                        <ul class="dropdown-order">
                            <li>
                                <a href="/orders/{{order.id}}">Details</a>
                            </li>
                            <li>Payment</li>
                            <li class="cancel">
                                <form action="/orders/{{order.id}}/cancel" method="POST">
                                    <button class="actions canceled">Cancel Purchase</button>
                                </form>
                            </li>
                            {# {%endif%} #}
                        </ul>
                    </div>
                </div>

            </div>
            {# {% endfor %} #}

            <div class="actions"></div>
        </div>
    </div>

</div>

</div>
</div>

{% endcall %}

{% endblock content %}