{% extends 'layout.njk' %}
{% import "parts/card.njk" as cards %}

{% extends "../layout.njk" %}
{% import "../parts/header-cover.njk" as cover %}
{% import "../parts/form-card.njk" as form %}

{% block header %}
    <title>Users Index</title>
{% endblock %}
{% block content %}
    {% call cover.render('It’s not about what it is, it’s about what it can become.','', 'about', '', '/assets/specialcollections.jpg', session )%}
    {% endcall %}

    {% call form.render("CART", "cart chef register_form") %}

    <div class="success-lottie"></div>
    <div class="success-info">
        <h1>Thank you for your Order!</h1>
        <p>
            We've sent a confirmation email to fernanda.panda@gmail.com with order details and a link to track it's progress
        </p>
        <a class="button go-shop" href="/products">
            <i class="material-icons cart-icons">arrow_back</i>
            <p>Continue Shopping</p>
        </a>
    </div>
    {% endcall %}

{% endblock content %}

{% block script %}

    <script src="/js/deleteAccount.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/lottie.min.js"></script>

    <script>

        const element = document.querySelector('.success-lottie')

        lottie
            .loadAnimation({
                container: element, // the dom element that will contain the animation
                renderer: 'svg',
                loop: false,
                autoplay: true,
                path: '/animation/10447-payment-success.json' // the path to the animation json
            })
            .setSpeed(.5)
    </script>

{% endblock %}