{% extends "layout.njk" %}
{% import "../parts/header-cover.njk" as cover %}
{% import "../parts/form-card.njk" as form %}

{% block header %}
    <title>Form recipes</title>
{% endblock %}

{% block content %}
    {% call cover.render('UPDATE RECIPE FORM','', 'recipe form', '', '../../assets/about2.png', session )%}
    {% endcall %}

    <form action="/admin/form-edit?_method=PUT" enctype="multipart/form-data" method="POST">
        {% include "admin/fields-update.njk" %}
        {# {% include "recipes/fields.njk" %} #}

        <input type="hidden" name="id" value="{{product.id}}">

        <div class="form-btn">
            <button type="submit" class="post-btn">Salvar</button>
        </div>
    </form>

    <form id="form-delete" action="/admin/form?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="{{product.id}}">
        <button class="cancel-btn delete" type="submit">Deletar</button>
    </form>

{% endblock %}

{% block script %}
    {# <script src="/js/script.js"></script> #}
    <script src="/js/product.js"></script>
    <script src="/js/validate.js"></script>
    <script src="/js/img-upload.js"></script>
    <script src="/js/deleteConfirm.js"></script>
{% endblock %}