
.form-container {
    position: relative;
    max-width: 90%;
    max-width: 1100px;
    /* min-width: 900px;  */
    /* height: 800px; */
    height: auto;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 16px 24px rgba(8, 35, 48, 0.08), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    margin-top: -50px;
    padding-bottom: 30px;
    margin-bottom: 80px;
}
 
.form-container.chef-form::after {
    position: absolute;
    content: "CHEF'S FORM";
    color: white;
    background: rgba(255, 55, 10, 0.7);
    width: 300px;
    height: 60px;
    border-radius: 40px 0 40px 0;
    text-align: center;
    font-family: Futura PT;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 135%;
    padding-top: 30px;

    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #FFFFFF;
    top: 0;
    left: 0;
}

.form-container.account::after {
    content: "CHEF'S ACCOUNT";
}

.form-container.basic-info::after {
    content: "BASIC INFO";
} 

.form-container.ingredients::after {
    content: "INGREDIENTS";
} 

.form-container.instructions::after {
    content: "INSTRUCTIONS";
} 

.form-container.photos::after {
    content: "PHOTOS";
} 

.form-container.information::after {
    content: "Information";
}


input[type="text"], input[type="password"] {  
    background: #FFFFFF;
    /* 32% Gray Light */
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 10px; 
    /* width: 970px; */
    /* width: 2000px; */
    /* width: 100%; */
    height: 50px;
    border-color: 2px solid pink;
}

select {
    background: #FFFFFF;
    /* 32% Gray Light */
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 10px; 
    /* width: 970px; */
    /* width: 2000px; */
    /* width: 100%; */
    height: 50px;
    border-color: 2px solid pink;
    display: block;
    font-family: Adobe Garamond Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    /* padding: 10px 25px; */
    padding-left: 25px;
    padding-right: 25px;
    opacity: 0.8;
    /* 64% Gray dark */
    color: #5C5C5C;
    width: 100%;
}

select::placeholder {
    padding: 10px 25px;
}

input::placeholder {

    font-family: Adobe Garamond Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    padding-left: 20px;
    opacity: 0.8;
    /* 64% Gray dark */
    color: #5C5C5C;
}

input {
    padding-left: 20px;
    padding-right: 40px;
    font-size: 18px;
}


/* INFO INSIDE CONTAINER  */

.form-input-container {
    display: flex;
    flex-direction: column;
    padding: 100px 60px 20px 60px;
    margin: 0 auto;
    width: 90%;
    /* background-color: khaki; */

}

label.label-form {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    /* line-height: 32px; */
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    color: #FF370A;
    padding-bottom: 10px ;
}

label img {
    padding-left: 15px;
}

label h2 {
    padding-left: 10px;
    opacity: 0.8;
}

.row-1 {
    width: 100%;
    margin: 40px auto;
}

.row-1.less-margin {
    margin: -10px 0 30px 0;
}

.row-1 input {
    width: 100%;
}

.row-2 {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 50px;
}

.row-2 input {
    width: 100%;
}

.row-2.margin-top {
    margin-top: 30px;
    /* padding-top: 30px; */
}

.row-3 {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 40px;
    flex: 1;
    /* border: 2px solid green; */
    box-sizing: border-box;
    margin-bottom: 30px;
}

.textarea {
    height: 300px;  
}

.row-3 .about{
    display: flex;
    flex-direction: column;
    width: 100%;
}

textarea {
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 10px;
    height: 300px;
    padding: 20px;
    font-size: 16px;
    line-height: 24px;
}

textarea::placeholder {
    padding: 18px;

    font-family: Adobe Garamond Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    opacity: 0.6;

    color: #5C5C5C;
}



.row-3 label {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    /* line-height: 32px; */
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    color: #FF370A;
    padding-bottom: 10px ;
}

.row-3 textarea, .row-3 div {
    width: 100%;
    /* height: 300px; */
}

.row-3 .upload {
    width: 40%;
    height: 300px;
}

.row-3 .upload .upload-img {
    /* width: 80%; */
    /* height: 80%; */
    width: 300px ;
    height: 260px ;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    box-sizing: border-box;

    border-radius: 10px;
    margin-left: 40px;
}

.row-3 .upload label.title {
    padding-left: 30px;
    padding-bottom: 15px;
}

.upload-img{
    /* position: relative; */
    /* display: flex; */
    /* padding-right: 20px; */
    /* justify-content: center;
    align-items: center; */
}
.upload-img label img {
    padding: 0;
}

.upload-img label {
    width: 100%;
    height: 100%;
    display: flex;
    /* padding-right: 20px; */
    justify-content: center;
    align-items: center;
    /* margin-bottom: 90px; */
    /* position: absolute;
    top: 35%;
    left: 40px; */
}




 /* ADDING INGREDIENTS AND INPUT  */

 button.add {
    width: 201px;
    height: 46px;
    border: 1.5px solid #FF370A;
    box-sizing: border-box;
    border-radius: 245.556px;
    color: #FF370A;
    background-color: #fff;

    font-family: Futura PT;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    letter-spacing: 0.920833px;
    text-transform: uppercase;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.1);
 }

 button.add:hover {

    background-color: #FF370A;
    opacity: 0.7;
    color: #fff;
    box-shadow: none;
 }

 .row-1.ingredients {
     position: relative;
     /* display: flex; */
 }

 label.label-form.ingredients {
     position: absolute;
     top: 0;
     left: -80px;
 }

  input.ingredients.add {
     position: relative;
 }

  div.close {
     position: absolute;
     background-image: url('../assets/Icons/Medium/icon-close.svg');
     width: 30px;
     height: 30px;
     top: 10px;
     right: 10px;
     z-index: 2;
 }

 button.close-field {
    background-color: white;
    position: absolute;
    top: 10px;
    right: 15px;
 }

  div.upload.recipe .upload-img.recipe-images {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
  
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 10px;
 }

 div.upload.recipe .upload-img.recipe-images label {
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .profile-img {
     position: relative;
     width: 300px;
     height: 300px;
     background-repeat: no-repeat;
     background-size: cover;
 }

 #profile-image-div {
    background-size: cover;
    background-repeat: no-repeat;
 }

 input#profile-image {
     top: 0;
     left: 0;
     position: absolute;
     width:300px;
 }


 .upload-img.recipe-images h2 {
    
    font-family: Futura PT;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.920833px;
    text-transform: uppercase;
    
    color: #78909C;
 }

 .upload-img.recipe-images p {
     font-size: 14px;
     display: block;
     margin: 3px auto;
     text-align: center;
     opacity: 0.6;
 }

 /* UPLOAD IMAGE INPUT  */
 #photos-preview {
     margin-top: 30px;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 20px;
 }

 
input.input-files{
    position: absolute;
    top:0;
    left: 0;
    cursor:pointer;
    width: 300px;
	height: 300px;
	opacity:0;
	overflow: hidden;
    cursor: pointer;
 }

 input.input-files.input-big {
    width: 900px;
    height: 300px;
    top:140px;
    left:120px;   
 }

 /* input#photos.input-files.input-big {
     width: 900px;
     height: 300px;
     top:140px;
     left:120px;

 } */

 /* // DIV PHOTOS  */
 #photos-preview .photo{
    position: relative;
    display: inline-block;
 }

#photos-preview img {
    width: 100%;
    height: 150px;
    border-radius: 30px;
    object-fit: cover;
}


#photos-preview .photo i {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255,255, 255, 0.4) ;

    color: #FF876C;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 500%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 200ms;
}

#photos-preview .photo i:hover {
    opacity: 1;
}

 .form-btn {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 60px auto;
 }

 .form-btn button.post-btn {
    width: 235.96px;
    height: 54px;
    background: #FF876C;
    border-radius: 288.261px;
    font-family: Futura PT;
    font-style: normal;
    font-weight: 500;
    font-size: 18.7826px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 1.08098px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 60px;
 }

 .cancel-btn {
    width: 144px;
    height: 54px;   
    /* almost black */
    border: 1.5px solid rgba(31, 27, 27, 0.7);
    box-sizing: border-box;
    border-radius: 245.556px;
    font-family: Futura PT;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.920833px;
    text-transform: uppercase;

    color: rgba(31, 27, 27, 0.7);
}

form#form-delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete {
    /* position: absolute;
    bottom: -1990px;
    left: 850px; */
    width: 235.96px;
    height: 54px;
    /* margin: 40px auto; */
    margin-right: 60px;
    margin-bottom: 50px;
}

.form-btn button.post-btn:hover {
    background: #f56a4b;
    /* opacity: 0.8; */
}

.cancel-btn:hover {
    background-color: rgba(31, 27, 27, 0.7);
    color: white;
}

  /* LOTTIE ANIMATION DIVS  */

  .error-lottie {
      margin: 0 auto;
      margin-bottom: 30px;
      width: 200px;
      height: 200px;
  }

  .success-lottie {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 200px;
    height: 200px;
  }
 

@media (max-width: 1250px) {
    .row-2 {
        /* display: flex; */
        display: flex;
        flex-direction: column;   
    }
    
    .row-3 {
        flex-direction: column;   
    }
    .row-2 div {
        margin-bottom: 30px;  
    }
    .row-3 div {
        margin-bottom: 30px;  
    }
    .row-3 .upload .upload-img {
        margin-left: 0;
    }

    .row-3 .upload label {
        padding-left: 0;

    }

    .row-3 .upload label.title {
        padding-left: 0;
    }
}