
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
  }

h1 {
    /* font-family: 'Futura PT'; */
    font-family: 'Adobe Garamond Pro';
    font-weight: 300;
    font-style: normal;
}

.container header {
  position: relative;
  min-width: 1100px;
}

div.container.header.home div.img-cover {
  background-position: center; /* Center the image */
  height: 500px;
  z-index: -1;
}

nav.primary {
  width: 100%;
  height: auto;
  background-color: rgba(0,0,0, .5);
}

nav.primary ul#menu-desktop {
  display: flex;
  padding: 8px 0;
  width: 100%;
  /* background-color: rgba(0,0,0, .5); */
}

div.header--menu {
  display: flex;
  flex-grow: 1;
  width: 90%;
  /* margin-right: 200px; */
  align-items: center;
  justify-content: center;
  
}

div.header--menu--links {
  display: flex;
  font-family: 'Roboto';
  font-weight: 500;
  letter-spacing: 0.7px;
  font-size: 18px;
  margin-right: 80px;
}

div.header--menu--links li {
  position: relative;
}


div.header--menu--links li:hover::before {
  color: #234A59;
  position: absolute;
  top: -8px;
  left: 35%;
  width: 90px;
  height: 32px;
  border: 2px solid rgba(0,0,0,0.1);
  border-radius: 50%;
  content: '';
  background: rgba(241, 243, 244, 0.4);
  border-radius: 99px;
  color: #234A59;
  z-index: 0;

}

.search input {
  width: 253px;
  height: 35px;
  border-radius: 99px;
  opacity: 0.7;
  /* background-color: #234A59; */
}

.search input::placeholder {
  padding-left: 6px;
  font-size: 16px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #234A59;
  /* color: white; */
}

div.header--menu li {
  padding-left: 60px;
}

nav.primary ul div.logo {
  padding-left: 100px ;
}

nav.primary ul a {
  color: white;
  letter-spacing: 0.4px;
  opacity: 0.9;
}

nav.primary ul li a:hover {
  /* color: #234A59; */
  opacity: 1; 
}

i.material-icons {
  font-size: 28px;
}


.cover-info {
  text-align: center;
  margin: 0 auto;
  height: 300px;
}

.cover-info h1 {
  margin: 150px auto 10px;
  font-family: Adobe Garamond Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  letter-spacing: 0.04em;
  color: #F7F6F6;
  filter: brightness(2);
}

.cover-info h3 {
  font-family: Adobe Garamond Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0.7px;
  line-height: 29px;
  color: #F7F6F6;
}


/* TOGGLE MENU  */

 #menuToggle
 {
   display: block;
   position: relative;
   top: 50px;
   left: 50px;
   z-index: 1;
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: tomato;
   font-weight: bold;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; 
   
   -webkit-touch-callout: none;
 }
 
 
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 

 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 

 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 

 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   border-radius: 0 0 40px 0;
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 

 #menuToggle input:checked ~ ul
 {
   transform: none;
 }


@media (max-width: 1300px) {
  .search input {
    display: none;
  }


  header {
    min-width: 900px;
  }

  .cover-info h1, .cover-info h3 {
    /* display: none; */
  }
}

#menuToggle {
  display: none;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #333;

}

@media (max-width: 980px) {
  nav.primary ul#menu-desktop {
    display: none;
  }
  #menuToggle {
    display: block;
    max-width: 90%;
  }
  nav.primary {
    background-color: rgba(0,0,0, .0);
  }
}
