
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
  }

h1 {
    /* font-family: 'Futura PT'; */
    font-family: 'Adobe Garamond Pro';
    font-weight: 300;
    font-style: normal;
}


