{% extends "layout.njk" %}
{% import "parts/header-cover.njk" as cover %}

{% block header %}
    <title>HOME PAGE</title>
{% endblock %}

{# {%include "parts/header.njk"%} #}

{% block content %}
    {# {% macro render(title, classes, image) %} #}
    {# {% call cover.render('HELLO GREEN HAM AND EGGS','Sam never gives up on his quest to get a good recipe', 'home','', 'assets/60th+Green+Eggs+banner.jpg' )%}
    {% endcall %} #}
    <header>

        <div class="container header {{classes}}">

            <div class="img-cover" style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('assets/60th+Green+Eggs+banner.jpg'); background-repeat: no-repeat; background-size: cover;">

                {% include "parts/nav.njk" %}

                <div class="cover-info">
                    <h1>HELLO GREEN HAM AND EGGS</h1>
                    <h3>Sam never gives up on his quest to get a good recipe</h3>
                </div>

            </div>
            <div class="color-cover"></div>

        </div>

    </header>

    <div class="most-popular">
        <h1>Most popular recipes</h1>
        <div class="recipe-container">

            {% for recipe in recipes %}
                <a class="recipe-card-container" href="/recipes/recipe/{{recipe.id}}">
                    <div class="recipe-card" style="background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ), url('{{recipe.img}}'); background-repeat: no-repeat; background-size: cover; background-position: center center">
                        <div class="recipe-info">
                            <h2 class="recipe-title">{{recipe.title}}</h2>
                            <p>por
                                {{recipe.user.name}}</p>
                        </div>
                    </div>
                </a>

            {% endfor %}

        </div>
    </div>

{% endblock %}