<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//db.onlinewebfonts.com/c/5aef094031ee6825ad8168c51f2feeaf?family=Pinto+W00+NO_01" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="./font.css"/>
        <link rel="stylesheet" href="./styles.css"/>
        {% block header %}

            <title>Layout Page</title>
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
        <script src="./js/script.js"></script>
    </body>
</html>