<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# {% include "parts/styles.njk" %} #}
        {% block header %}
            <title>Layout Page</title>
        {% endblock %}
        {% include "parts/styles.njk" %}
    </head>
    <body>

        {% include "parts/messages.njk" %}
        <section class="main">
            {% block content %}{% endblock %}
        </section>

        {% block footer %}
            {% include "parts/footer.njk" %}
        {% endblock %}

        {% block script %}
            {# <script src="/js/script.js"></script> #}
            {# <script src="/js/img-upload.js"></script> #}
        {% endblock %}

    </body>
</html>