{% macro render(title, subtitle, classes, img, image) %}
    <header>

        <div class="container header {{classes}}">

            <div class="img-cover" style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('{{image}}'); background-repeat: no-repeat; background-size: cover;">

                {% include "parts/nav.njk" %}

                <div class="cover-info recipe-show">
                    <h1>{{title}}</h1>
                    <span>{{subtitle}}</span>
                    <img class="round-img" src="{{img}}" alt="">
                </div>

            </div>
            <div class="color-cover"></div>

        </div>

    </header>
{% endmacro %}