<header>

    <div class="container">
        <a href="/">
            <div class="logo">
                <img src="/assets/logo-nav.png" alt="logo">
            </div>
        </a>

        <form class="search" action="/products/search" method="GET">
            <input type="text" name="filter" placeholder="<i class='icon-search'></i> Buscar por produtos..." {% if search.term %} value="{{search.term}}" {% endif %}>
        </form>

        <nav class="primary">
            <ul>
                <div class="link-menu">
                    <li>
                        <a href="/ads/create">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/ads/create">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="/ads/create">
                            Novo anúncio
                        </a>
                    </li>
                </div>
                <li class="dropdown-container">
                    <a href="/accounts">
                        <i class="material-icons">account_circle</i>
                        Minha conta
                    </a>
                    {% if session.userId %}
                        <ul class="dropdown">
                            <li>
                                <a href="/users">Minha conta</a>
                            </li>
                            <li>
                                <a href="/users/ads">Meus anúncios</a>
                            </li>
                            <li>
                                <a href="/orders">Meus pedidos</a>
                            </li>
                            <li>
                                <a href="/orders/sales">Minhas vendas</a>
                            </li>
                            <li>
                                <form action="/users/logout" method="POST">
                                    <button>Sair</button>
                                </form>
                            </li>
                        </ul>
                    {% endif %}

                    <li>
                        <form class="search" action="/products/search" method="GET">
                            <input type="text" name="filter" placeholder="Buscar por produtos..." {% if search.term %} value="{{search.term}}" {% endif %}>
                        </form>
                    </li>

                    <li >
                        <a href="/cart">
                            <i class="material-icons">shopping_cart</i>
                            {% if (session.cart) and (session.cart.total.quantity > 0) %}
                                <span id="cart-status-info">{{ session.cart.total.quantity}}</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </header>