<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="//db.onlinewebfonts.com/c/5aef094031ee6825ad8168c51f2feeaf?family=Pinto+W00+NO_01" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="/styles/font.css"/>
<link rel="stylesheet" href="/styles/styles.css"/>
<link rel="stylesheet" href="/styles/index.css"/>
<link rel="stylesheet" href="/styles/about.css"/>
<link rel="stylesheet" href="/styles/users.css"/>
<link rel="stylesheet" href="/styles/form-card.css"/>
<link rel="stylesheet" href="/styles/recipe-show.css"/>
<link rel="stylesheet" href="/styles/session.css"/>
<link rel="stylesheet" href="/styles/dropdown.css"/>
<link rel="stylesheet" href="/styles/message.css"/>
<link rel="stylesheet" href="/styles/search.css"/>
<link rel="stylesheet" href="/styles/pagination.css"/>
<link rel="stylesheet" href="/styles/products.css"/>
<link rel="stylesheet" href="/styles/image-gallery.css"/>
<link rel="stylesheet" href="/styles/cart.css"/>
<link rel="stylesheet" href="/styles/order.css"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400,700,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{# https://material.io/resources/icons/?style=baseline #}